@import 'normalize/normalize.css';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

$ts_red: #E5332A;
$ts_red_dark: #AE151E;
$ts_orange: #E84E1B;

// Prevent stupid page-shift scroll when some pages have scroll bars and others don't
html {
	overflow-y: scroll;
}

a {
	color: $ts_orange;
	font-weight: bold;
}
h3 {
	padding-bottom: 1.0em;
}

p, ul {
	max-width: 42em;
	margin-left: auto;
	margin-right: auto;
}

ul li {
	list-style: circle;
	margin-left: 1.0em;
}

.image-container img {
	padding: 5px;
	border: 1px solid $light-gray;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
// Site header
.site-header {
	background-color: $ts_red_dark;
	box-shadow: 0 0px 12px $light-gray;
}
.logo {
	@include span-columns(4);
	padding-top: 0.4em;
	padding-bottom: 0.2em;
	color: $off-white;
	h4 {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 1.2em;
	}
}
.logo-row {
	@include row();
	margin-top: 1em;
	text-align: center;
}

.header-nav {
	float: right;
	li {
		float: left;
		padding: 1em 2em;
		font-weight: 600;
		a {
			color: $dark-gray;
		}
		&:hover {
			background-color: $light-gray;
		}
	}
}

// Basic structural elements
.wrapper {
	@include outer-container;
	@include padding(1em);
	@include media($max-screen-up) {
		@include padding(0em);
	}
}
.row {
	@include row();
}
section {
	padding-top: 2.5em;
	border-bottom: 1px solid $light-gray;
}
.heading-divider {
	border-bottom: 3px solid #333;
	@include margin (1em null 1em null);
	@include padding (0.2em null 0.2em null);
}

// Styles

.light-red-container {
	background-color: $ts_red;	
}

.concept-text {
	color: $off-white;
	font-size: 1.8em;
	font-family: $serif;
	padding-bottom: 0.6em;
}

.header-image-hero {
	text-align: center;
	img {
		max-width: 36em;
	}
}
.half-width {
	width: 48%;
}
.third-width {
	width: 32%;
}
.two-thirds-width {
	width: 65%;
}
// Colors
.colors-container {
	margin-top: 1.5em;
}
.colors-category {
	@include span-columns(8);
	@include shift(2);
	@include omega();
	padding-top: 1em;

}
.color-section-title {
	text-align: center;
	border-bottom: 1px solid $light-gray;
}
.color-grid {
	@include span-columns(8);
	@include shift(2 of 8);
}
.color {
	@include span-columns(2 of 8);
	border: 1px solid gray;
	border-radius: 3px;
	height: 6em;
	margin-top: 1em;
	&.primary.one {
		background-color: $light-blue;
	}
	&.primary.two {

	}
	&.primary.three {
	}
}
.secondary-colors {
	@include span-columns(8);
	@include shift(2);
	@include omega();
}
.color-secondary {
	@include span-columns(2);

}



//Footer

footer {
	border-top: 1px solid $light-gray;
	padding-top: 2em;
	margin-top: 3em;
	text-align: center;
}

.copyright {
	margin-top: 1em;
	margin-bottom: 1em;
	opacity: 0.75;
}

.light-gray-container {
	background-color: $light-gray;
}

