@import 'normalize/normalize.css';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';



// Prevent stupid page-shift scroll when some pages have scroll bars and others don't
html {
	overflow-y: scroll;
}

a {
	color: $ts_orange;
	font-weight: bold;
}
h3 {
	padding-bottom: 1.0em;
}

p, ul, ol {
	max-width: 42em;
	margin-left: auto;
	margin-right: auto;
}

ul li {
	list-style: circle;
	margin-left: 1.0em;
}
ol {
	list-style: decimal;
	li {
		margin-left: 1.0em;
	}
}
li.list-header {
	margin-left: 0;
}

.image-container img {
	padding: 5px;
	border: 1px solid $light-gray;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
// Site header
.site-header {
	background-color: $ts_red_dark;
	box-shadow: 0 0px 12px $light-gray;
}
.logo {
	@include span-columns(4);
	padding-top: 0.4em;
	padding-bottom: 0.2em;
	color: $ts_orange;
	h4 {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 1.2em;
	}
}
.logo-row {
	@include row();
	margin-top: 1em;
	text-align: center;
}

.header-nav {
	float: right;
	li {
		float: left;
		padding: 0.4em 2em;
		font-weight: 600;
		list-style: none;
		&.activated {
			background-color: $ts_red;
			a {
				color: $ts_red_dark;
			}
		}
	}
}

.style-overview {
	padding-top: 1.8em;

}

// Basic structural elements
.wrapper {
	@include outer-container;
	@include padding(1em);
	@include media($max-screen-up) {
		@include padding(0em);
	}
}
.row {
	@include row();
}
section {
	padding-top: 2.5em;
	padding-bottom: 1.0em;
	border-bottom: 1px solid $light-gray;
}
.heading-divider {
	border-bottom: 3px solid #333;
	@include margin (1em null 1em null);
	@include padding (0.2em null 0.2em null);
}

.half-column {
	@include media($medium-screen-up) {
		@include span-columns(6);
	}
}
.third-column {
	@include media($medium-screen-up) {
		@include span-columns(2);
	}
}
// Styles

.light-red-container {
	background-color: $ts_red;	
}

.concept-text {
	color: $off-white;
	font-size: 3em;
	font-family: $serif;
	text-align: center;
}

.header-image-hero {
	text-align: center;
	img {
		width: 24em;
		padding-top: 2em;
	}
}
.half-width {
	@include media($medium-screen-up) {
		width: 48%;
	}
}
.third-width {
	@include media($medium-screen-up) {
		width: 32%;
	}
}
.two-thirds-width {
	@include media($medium-screen-up) {
		width: 65%;
	}
}

.dark-container {
	background-color: $dark-gray;
	margin-top: 2em;
}
ul.link-collection {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	color: $light-gray;
	border-top: 1px solid darken($mid-gray, 5%);
	border-bottom: 1px solid darken($mid-gray, 5%);
	li {
		list-style: none;
	}
}
//Footer

footer {
	background-color: darken($dark-gray, 4);
	padding-top: 1em;
	text-align: center;
}

.copyright {
	margin-top: 1em;
	margin-bottom: 1em;
	opacity: 0.75;
}

.light-gray-container {
	background-color: $light-gray;
}

