%header.site-header
  .wrapper
    .logo
      %h4 Tigerspike Tutorials
    %nav.header-nav
      %ul
        %li.nav-item.sketch-link 
          %a{:href => 'index.html'} Sketch
        %li.nav-item.keynote-link
          %a{:href => 'keynote.html'} Keynote
        %li.nav-item.writing-briefs-link
          %a{:href => 'writing-briefs.html'} Briefs

