---
title: Sketch Tutorial
body_class: keynote
---

=# stylesheet_link_tag "elements"

.light-red-container.top-section
  .wrapper
    %section.style-overview
      %p.concept-text Keynote learnings

.wrapper
  .header-image-hero
    = image_tag 'keynote_icon.png'
  %section
    %h3 Keynote Animations
    .description
      %p 
        Courtesy of XD superstar Justin, we have some resources to help you learn how to prototype and create animations in Keynote. Check out this link to learn more: <br />
        %a{:href => 'https://drive.google.com/a/tigerspike.com/folderview?id=0BzGkOz4gP_tVWVlZWWZpcEFodmM&usp=sharing'} https://drive.google.com/a/tigerspike.com/folderview?id=0BzGkOz4gP_tVWVlZWWZpcEFodmM&usp=sharing